@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:ital,wght@0,300;1,600&display=swap');

html{
  font-size: 125%;
    padding: 0;
    margin: 0;
    color: #fffacd;
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
}
.wrapper{
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}
.App {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.header{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
.paragraph{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(56, 78, 121, 0.295);
  /* box-shadow: 0 5px 15px rgba(0,0,0,.35); */
  padding: 40px 40px;

}

#aries,
#taurus,
#gemini,
#cancer,
#leo,
#virgo,
#libra,
#scorpio,
#sagittarius,
#capricorn,
#aquarius,
#pisces{
height: 120px;
padding-top: 32px;
width: 210px;
text-align: center;
display: flex;
flex-direction: column;
margin:15px;
background-color: rgba(56, 78, 121, 0.295);
text-transform: uppercase;
border-radius: 0.3rem;
color: #fffacd;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
}

.dayOptions{

  text-align: center;
  align-items: center;

  padding-top: 50px;
  justify-content: space-around;

  background-color: rgba(56, 78, 121, 0.295);
  padding: 20px 0;


}
#yesterday,
#today,
#tomorrow{
  font-family: 'Raleway', sans-serif;

  max-width: 100%;
  width: calc(100%/3);
  height: 40px;
  margin: 7px;
  color: #fffacd;
  border-radius: 0.3rem;
  background-color: rgba(56, 78, 121, 0.295);
  font-size: 20px;
}

.resultsSection{

  background-color: rgba(56, 78, 121, 0.295);
  padding: 20px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  text-align: center;

}

.footer{
  padding-top: 10px;
font-family: 'Raleway', sans-serif;
font-size: 22px;
text-align: center;

}
