@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:ital,wght@0,300;1,600&display=swap');

html{
  font-size: 125%;
    padding: 0;
    margin: 0;
    color: #fffacd;
    background-image: url(../assets/1113864.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
}
.wrapper{
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}
.App {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.header{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
.paragraph{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  padding-bottom: 60px;

}

.buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(144,181,248,.295);
  padding: 20px 0;

}

#aries,
#taurus,
#gemini,
#cancer,
#leo,
#virgo,
#libra,
#scorpio,
#sagittarius,
#capricorn,
#aquarius,
#pisces{
height: 120px;
padding-top: 32px;
width: 210px;
text-align: center;
/* width: calc(100%/4); */
display: flex;
flex-direction: column;
margin:10px;
background-color: rgba(144,181,248,.295);
text-transform: uppercase;
border-radius: 0.8rem;
color: #fffacd;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
}
.br{
  text-align: center;
  padding-left: 3px;
}

